{
  "FIREBASE_API_KEY_WEB": "YOUR_WEB_KEY",
  "FIREBASE_API_KEY_ANDROID": "YOUR_ANDROID_KEY",
  "FIREBASE_API_KEY_IOS": "YOUR_IOS_KEY",
  "FIREBASE_API_KEY_MACOS": "YOUR_MACOS_KEY",
  "FIREBASE_API_KEY_WINDOWS": "YOUR_WINDOWS_KEY"
}
