name: biostream
description: SkinAI Onboarding Flutter App
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  google_fonts: ^6.1.0
  http: ^1.1.0 # HTTP 요청용
  flutter_secure_storage: ^9.0.0  # JWT 토큰 안전 저장용

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

